@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the keyframes for the blinking effect */
@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

html {
  scroll-behavior: smooth;
  
}

/* Apply the animation to the blinking-dot class */
.blinking-dot {
  animation: blink 0.7s infinite;
}

